{% extends "layout.html" %}
{% block style %}
img {
    position: relative;
    width:  80%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.tableImg {
    max-width: 100%;
}

.container {
    margin: 10px;
}

{% endblock %}
{% block body %}
<div id="app">
    {% for plant in user_plants %}
    <div class="container" id="plant{{plant['id']}}">
        <div class="row">
            <div class="col-sm-8"><strong>{{ plant["common_name"].title() }}</strong></div>
            <div class="col-sm-4"><a class="btn btn-outline-primary" @click='del_plant({{plant["id"]}})'>Remove Plant</a></div>
        </div>
        <div class="row">
            <div class="col-sm-6"><img class="tableImg" src="{{plant['images'][1]['url']}}"/></div>
            <div class="col-sm-6">
                <table class="table">
                    <tr>
                        <td>Scientific Name: {{ plant["scientific_name"].title() }}</td>
                        <td>Plant ID: {{ plant["id"] }}</td>
                    </tr>
                    {% for l in plant['images'] %}
                    <tr>
                        <td>Lifespan:</td>
                        <td>{{ plant['main_species']['specifications']['lifespan'] }}</td>
                    </tr>
                    <tr>
                        <td>Best Time to Grow:</td>
                        <td>{{ plant['main_species']['specifications']['growth_period'] }}</td>
                    </tr>
                    <tr>
                        <td>Minimum Temperature:</td>
                        <td>{{ plant['main_species']['growth']['temperature_minimum']['deg_f'] }}F</td>
                    </tr>
                    <tr>
                        <td>Shade Tolerance:</td>
                        <td>{{ plant['main_species']['growth']['shade_tolerance'] }}</td>
                    </tr>
                    <tr>
                        <td>Toxicity:</td>
                        <td>{{ plant['main_species']['specifications']['toxicity'] }}</td>
                    </tr>
                    <tr>
                        <td>Minimum Water Needed:</td>
                        <td>{{ plant['main_species']['growth']['precipitation_minimum']['inches'] }}</td>
                    </tr>
                    <tr>
                        <td>Watering Limit:</td>
                        <td>{{ plant['main_species']['growth']['precipitation_maximum']['inches'] }}</td>
                    </tr>
                    <tr>
                        <td>Soil pH Range:</td>
                        <td>{{ plant['main_species']['growth']['ph_minimum'] }} - {{ plant['main_species']['growth']['ph_maximum'] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
        {% endfor %}
</div>
{% endblock %}
{% block script %}
<script>
var app = new Vue({
    el: "#app",
    data: {
        entry: "",
        plant_data: []
    },
    methods: {
        get_results: function() {
            if (!this.entry) return;
            var xhr = new XMLHttpRequest();
            var self = this;
            xhr.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    var results = JSON.parse(this.responseText);
                    self.plant_data = results;
                }
            }

            xhr.open("POST", "/query?value="+encodeURI(this.entry), true);
            xhr.send();
        },

        del_plant: function(id) {
            var xhr = new XMLHttpRequest();
            var self = this;
            xhr.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    var results = JSON.parse(this.responseText);
                    if (!results.error) {
                        var r = confirm("Are you sure you would like to remove this?");
                        if (r) {
                            document.getElementById('plant'+id).remove();
                        }
                    }
                }
            }

            xhr.open("POST", "/delplant/"+id, true);
            xhr.send();
        },

        title: function(name) {
            var split_name = name.split(" ");
            for(var i = 0; i < split_name.length; i++) {
                split_name[i] = split_name[i].substring(0,1).toUpperCase() + split_name[i].substring(1);
            }
            return split_name.join(" ");

        }
    },
    watch: {
        entry: function(oldEntry, newEntry) {
            this.get_results();
        }
    },
    delimiters: ["[[","]]"]
})
</script>
{% endblock %}