{% extends "layout.html" %}
{% block style %}
img {
    position: relative;
    width:  80%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

{% endblock %}
{% block body %}
<div id="app">
    {% for plant in user_plants %}
    <div class="plant" id="plant{{plant['id']}}">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>{{ plant["common_name"].title() }}</th>
                    <th><a class="btn btn-outline-primary" @click='del_plant({{plant["id"]}})'>Remove Plant</a></th>
                </tr>
            </thead>
            <tbody>
                <tr><img src="{{plant['images'][0]['url']}}"/></tr>
                <tr>Scientific Name: {{ plant["scientific_name"].title() }}</tr>
                <tr>Plant ID: {{ plant["id"] }}</tr>
                <tr>{{ plant }}</tr>
            </tbody>
         </table>
        </div>
        <div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
{% block script %}
<script>
var app = new Vue({
    el: "#app",
    data: {
        entry: "",
        plant_data: []
    },
    methods: {
        get_results: function() {
            if (!this.entry) return;
            var xhr = new XMLHttpRequest();
            var self = this;
            xhr.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    var results = JSON.parse(this.responseText);
                    self.plant_data = results;
                }
            }

            xhr.open("POST", "/query?value="+encodeURI(this.entry), true);
            xhr.send();
        },

        del_plant: function(id) {
            var xhr = new XMLHttpRequest();
            var self = this;
            xhr.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    var results = JSON.parse(this.responseText);
                    if (!results.error) {
                        var r = confirm("Are you sure you would like to remove this?");
                        if (r) {
                            document.getElementById('plant'+id).remove();
                        }
                    }
                }
            }

            xhr.open("POST", "/delplant/"+id, true);
            xhr.send();
        },

        title: function(name) {
            var split_name = name.split(" ");
            for(var i = 0; i < split_name.length; i++) {
                split_name[i] = split_name[i].substring(0,1).toUpperCase() + split_name[i].substring(1);
            }
            return split_name.join(" ");

        }
    },
    watch: {
        entry: function(oldEntry, newEntry) {
            this.get_results();
        }
    },
    delimiters: ["[[","]]"]
})
</script>
{% endblock %}